* {
    box-sizing: border-box;
}

/* Google fonts:
font-family: 'ZCOOL QingKe HuangYou', cursive;
font-family: 'Comfortaa', cursive;
*/

body {
    /* background-image: url(../images/stars-tall-dark.jpg); */
    /* background-size: cover; */
    background: rgba(0,0,0,0.93);
    font-family: 'Comfortaa', cursive;
    color: white;
}

nav {
    background-image: url(../images/stardust-background.png);
}

#astronaut {
    width: 35px;
    height: auto;
    padding: 5px;
}

/* #choiceArea {
    margin-left: 2%;
    width: 130px;
    height: auto;
    margin-top: 6%;
} */

.wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 40%;
    margin-bottom: 25px;
}

#gifArea {
    height: 200vh;
    width: 100%;
}

button {
    margin: 3px;
    padding: 3px;
    border-radius: 6%;
    color: white;
    border-color: #0A1B1F;
}

#addGif {
    color: white;
    border-color: #00F0FF;
}

#giphy-credit {
    margin-left: 32%;
}

/* Shutter Out Vertical button effect */
.hvr-shutter-out-vertical {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    background: black;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
  }
  .hvr-shutter-out-vertical:before {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #00F0FF;
    border-radius: 6%;
    -webkit-transform: scaleY(0);
    transform: scaleY(0);
    -webkit-transform-origin: 50%;
    transform-origin: 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
  }
  .hvr-shutter-out-vertical:hover, .hvr-shutter-out-vertical:focus, .hvr-shutter-out-vertical:active {
    color: white;
  }
  .hvr-shutter-out-vertical:hover:before, .hvr-shutter-out-vertical:focus:before, .hvr-shutter-out-vertical:active:before {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

/* media queries for responsive layout */

@media only screen and (max-width:768px) {
    #choiceArea {
        margin-top: 125px;
    }

    #giphy-credit {
        margin-left: 15%;
    }
}

@media only screen and (max-width:640px) {
    #choiceArea {
        margin-top: 265px;
    }

    .sidebar {
        margin-left: -45%;
    }

    #giphy-credit {
        margin-left: 10%;
    }
}
