* {
    box-sizing: border-box;
}

/* Google fonts:
font-family: 'Economica', sans-serif;
font-family: 'Julius Sans One', sans-serif;
*/

body {
    /* background-image: url(../images/stars-tall-dark.jpg); */
    /* background-size: cover; */
    background: rgba(0,0,0,0.85);
    font-family: 'Julius Sans One', sans-serif;
}